@model ZBilet.UI.Models.PaymentViewModel
@{
    ViewData["Title"] = "Ödeme Yap";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Payment Page</title>
</head>
<body>
    <h1>Bir hata oluştu.</h1>
</body>
</html>